/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

:root {
    --colour-green: #97A88B;
    --colour-white: #FFF;
    --colour-light-grey: #eee;
    --colour-light-beige: #fefae6;
    --colour-darker-grey: #e2e8ed;
}

body {
    background-color: var(--colour-light-beige);
}

.navbar {
    background-color: var(--colour-green);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 2rem;

}


.site-logo,
.site-link {
    font-family: "Noto Sans", sans-serif;
    color: black;
    text-decoration: none;
    margin: 0 1rem;
}

.cart-container {
    display: flex;
    align-items: center;
}


.cart-icon {
    width: 60px;
}

.cart-icon-container {
    position: relative;
}

.cart-count {
    font-size: 1rem;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;
    right: -50%;
    bottom: 70%;
}

.cart-total {
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.cart-modal-overlay {
    position: fixed;
    inset: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.cart-modal-overlay.active {
    display: block;
}

.cart-modal-content {
    overflow: hidden;
    border-radius: 0.5rem;
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    position: fixed;
    block-size: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    width: 360px;
    right: 0px;
}

.cart-header-title {
    font-size: 1.25rem;
}

.cart-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 0.3rem;
    background-color: var(--colour-light-beige);


}

.cart-item-list {
    overflow: auto;
    padding: 0.3rem 0.45rem 0.3rem 0.3rem;
    background-color: var(--colour-light-beige);

}

.cart-item {
    display: grid;
    grid-template-areas: "image description description"
        "image price quantity";
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: 2.5rem 3.5rem;
    height: min-content;
    background-color: var(--colour-white);
    border-radius: 0.5rem;
    gap: 0.4rem;
    align-items: center;
    border: 1px solid var(--colour-darker-grey);
    padding-right: 0.4rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.cart-item-img {
    grid-area: image;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 100px;
    object-fit: cover;
    height: 100%;

}

.cart-item-description {
    grid-area: description;
}

.cart-item-price {
    grid-area: price;
    font-weight: 500;
}

.cart-subtotal {
    font-weight: 500;
}

.checkout-button {
    background-color: var(--colour-green);
    border: none;
    padding: 0.5rem;
}

.cart-item-quantity {
    grid-area: quantity;
}

.cart-subtotal-section {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.cart-footer {
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 25%);
    z-index: 1;
    padding: 0.3rem 0.5rem 0.5rem 0.3rem;
    background-color: var(--colour-white);
}

.cart-checkout-section {
    display: flex;
    justify-content: flex-end;
}

.add-to-cart {
    width: 100%;
    font-size: 1rem;
    background-color: var(--colour-green);
    border: none;
    margin: 1rem 0;
    height: 2.4rem;
}

.cart-items-control,
.cart-item-quantity {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}


.button-cart-quantity {
    background-color: var(--colour-green);
    border: none;
    font-size: 1.5rem;
    width: 25%;
    height: 2.4rem
}

.input-cart-quantity {
    text-align: center;
    border: none;
    font-size: 1rem;
    width: 50%;
    background-color: white;
    color: black;
    border: 1px solid var(--colour-light-grey);
}


.banner-img {
    background-image: url(/Img/farm.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-bottom: 5rem;
    margin-top: 3rem;
    position: relative;
    background-position: center;

}

.banner-title {
    color: var(--colour-light-beige);
    font-size: clamp(3.8rem, 5vw, 5.6rem);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.shop-items-container {
    max-width: 60rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.shop-items {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin-bottom: 5rem;
}


.shop-item>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


.shop-item {
    aspect-ratio: 1 / 1.5;
    border: 1px solid var(--colour-darker-grey);
    display: grid;

}


.shop-item-content {
    font-size: 1.25rem;
    line-height: 1.1;
    height: 10rem;
    background-color: var(--colour-white);
    align-self: end;
    padding: 0.75rem;
}

.shop-item-title {
    margin-bottom: 0.5rem;
}

.shop-item-price {
    font-size: 1rem;
}

/* removes up and down arrows in input box for Chrome, Safari and Edge*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* removes up and down arrows in input box for Firefox*/
input[type=number] {
    -moz-appearance: textfield;
}

.shop-item-img {
    width: 100%;
    aspect-ratio: 1.2 / 1;
    object-fit: cover;
}

@media (max-width: 600px) {
    .cart-modal-content {
        width: 100%;
        border-radius: 0;

    }
}