/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    background: #6E896A;
}

.navbar {
    background-color: #ffd984;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 2rem;

}


.site-logo,
.site-link {
    font-family: "Noto Sans", sans-serif;
    color: black;
    text-decoration: none;
    margin: 0 1rem;
}

.cart-container {
    display: flex;
    align-items: center;
}


.cart-icon {
    width: 60px;
}

.cart-icon-container {
    position: relative;
}

.cart-count {
    font-size: 1rem;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;
    right: -50%;
    bottom: 70%;
}

.cart-total {
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.add-to-cart {
    width: 100%;
    font-size: 1rem;
    background: #a2af9f;
    border: none;
    margin: 1rem 0;
    height: 2.4rem;
}

.cart-items-control {
    width: 100%;
    display: flex;
    margin: 1rem 0;
}


.button-cart-quantity {
    background-color: #a2af9f;
    border: none;
    font-size: 1.5rem;
    width: 25%;
    height: 2.4rem
}

.input-cart-quantity {
    text-align: center;
    border: none;
    font-size: 1rem;
    width: 50%;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 30
}


.banner-img {
    background-image: url(/Img/farm.jpg);
    background-size: cover;
    background-position: 45% 55%;
    width: 100%;
    height: 40vh;
    margin-bottom: 5rem;
    margin-top: 3rem;
    position: relative;

}

.banner-title {
    color: #ffd984;
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    max-width: 60rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.stacked {
    display: grid;
}

.stacked>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.shop-items {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.shop-item {
    aspect-ratio: 1 / 1.75;
    border-radius: 1rem;
}


.shop-item-content {
    font-size: 1.25rem;
    line-height: 1.1;
    height: 10rem;
    border-radius: 0 0 1.25rem 1.25rem;
    background: #f6edd9;
    align-self: end;
    padding: 0.75rem;
}

.shop-item-title {
    margin-bottom: 0.5rem;
}

.shop-item-price {
    font-size: 1rem;
}

/* removes up and down arrows in input box for Chrome, Safari and Edge*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* removes up and down arrows in input box for Firefox*/
input[type=number] {
    -moz-appearance: textfield;
}

.shop-item-img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}